<head>
    {{ partial "head.html" . }}
</head>
{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-body">
            <h3>{{ .description | markdownify }}</h3>
            <hr class="star-light">
            <ul class="list-inline">
                {{ if .more }}
                    {{ range .more }}
                    <p>{{ . | markdownify }}</p>
                    {{ end }}
                {{ end }}
                {{ if .timeline }}
                
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="timeline">
                            {{range $i, $e := .timeline}}
                                 <li {{ if (not (modBool $i 2)) }}class="timeline-inverted" {{ end }}>
                                    <div class="timeline-image">
                                        {{ $url := printf "img/timeline/%s" .image }}
                                        <img src="{{ $url | absURL }}">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>{{ .date }}</h4>
                                            <h4 class="subheading">{{ .title  }}</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">{{ .description }}</p>
                                        </div>
                                    </div>
                                </li>
                            {{ end }}


                            </ul>
                        </div>
                    </div>
                {{ end }}
            </ul>
            <br>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttontext }}{{.}}{{ end }}</button>
        </div>
    </div>
</div>
{{ end }}



